<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Vinyl</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1><b>Hello World! Welcome to VINYL!</b></h1>
<br/><br/><br/>
<div><h2><b>Albums</b></h2>
    <br/><br/>
    <article th:each="album : ${albums}">
      <img th:src="${album.imgUrl}">
      <section>
        <p th:text="${album.title}"></p>
        <p th:text="${album.artist}"></p>
        <p th:text="${album.songCount}"></p>
        <p th:text="${album.length}"></p>
      </section>
    </article>
    <br/><br/><br/>
    <form>
        <fieldset>
            <legend>Add Album</legend>
            <label>Album Title</label>
            <input type="text" name="title"/>
            <label>Artist</label>
            <input type="text" name="artist"/>
            <label>Song Count</label>
            <input type="number" value="songCount">
            <label>Length(in seconds)</label>
            <input type="number" value="length">
            <label>Album Cover</label>
            <input type="url" name="imgUrl" placeholder="image url">
            <input type="submit" value="Add Album">
        </fieldset>
    </form>
</div>
</body>
</html>