<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Vinyl</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1><b>Hello World! Welcome to VINYL!</b></h1>
<br/><br/><br/>
<div><h2><b>Albums</b></h2>
    <br/><br/>
    <article th:each="album : ${albums}">
      <img th:src="${album.imgUrl}">
      <section>
        <p th:text="${album.title}"></p>
        <p th:text="${album.artist}"></p>
        <p th:text="${album.songCount}"></p>
        <p th:text="${album.length}"></p>
      </section>
    </article>
    <br/><br/><br/>
</div>
</body>
</html>